:root {
  --color-base-background: #ebebeb;
  --color-base-background-lighter: #fff;
  --color-base-text: #2C2C2C;
  --color-base-text-lighter: rgba(115, 125, 130);
  --color-border: rgba(115, 125, 130, 0.4);
  --color-primary-background: #003089;
  --color-primary-text: #1E86DE;
}
